<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  <!-- I will make all the non html code in between <% %> (each line) -->

  <% if( dayToday === 'Saturday' || dayToday === 'Sunday'){ %> 
    <h1 style="background-color: yellow;">Today is <%= dayToday %> !</h1>
  <% }else{ %> 
    <h1 style="background-color: orange;">Today is <%= dayToday %> !</h1>
  <% } %> 

  <ul>
    <% for(let i =0;i< itemAdded.length;i++){ %> 
      <li><%= itemAdded[i] %></li>
    <% } %> 
  </ul>
  <form action="/" method="post">
    <input name="task" type="text">
  <button type="submit">Add items</button>
  </form>
  
  
</body>
</html>