body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.card{
    margin: 0 auto;
    width: 60%;
    height: 500px;
    position: fixed;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow:auto; */
}
.heading{
    background-color: #cdf0ff;
    margin: 0 auto ;
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bg{
    background: url('./ll.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
}

.container{
    z-index: 1;
    width: 95%;
    background-color: #9d80cb;
    opacity: 0.98;
    border-radius: 25px;
    border: 2px solid white;
    height: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    overflow: auto;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.addingTask{
    text-align: center;
    background-color: #9d80cb;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.addingTask .input{
    font-size: 20px;
    padding:10px;
    margin: 20px ;
    border-radius: 20px;
    width: 50%;
}

.addingTask .btn{
    background-color: #cdf0ff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover{
    background-color: #78bfdd;
}

.delbtn{
    cursor: pointer;
    margin-right: 1rem;
    border: 2px solid black;
}

.delbtn:hover, .delbtn:active{
    background-color: lightcoral;
}

.displayItem{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.displayItem label{
    cursor: pointer;
}

input:checked + span{
    text-decoration: line-through;
}


@media only screen and (max-width: 700px){
    label{
        font-size: 15px;
    }
    .addingTask .btn{
        font-size: 12px;
    }

    
}